<div class="container2">

    <div class="row">

        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="images" src="img/img4.jpg" alt="flower" />
                <figcaption>Flower1</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="images" src="./img/img5.jpg" alt="blue butterfly" />
                <figcaption>Butterfly</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="" src="img/img6.jpg" alt="girl" />
                <figcaption>girl with butterfly</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="images" src="img/img7.jpg" alt="mountains" />
                <figcaption>MOUNTAINS</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="images" src="img/img8.jpg" alt="forest" />
                <figcaption>FOREST</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="images" src="img/img9.jpg" alt="Trees" />
                <figcaption>Red tree</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="images" src="img/img10.jpg" class="img-fluid" alt="tree" />
                <figcaption>Tree</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="images" src="img/img11.jpg" alt="Chilly" />
                <figcaption>Chilly</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="images" src="img/img12.jpg" alt="art" />
                <figcaption>Art</figcaption>
            </figure>
        </div>
    </div>

</div>